<table style="width:60%" border=3px>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email Id</th>
          <th>Contact No.</th>
          <th>Password</th>
          <th>Gender</th>
          <th>Emp Id</th>
        </tr>
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.lname}}</td>
          <td>{{item.email}}</td>
          <td>{{item.con}}</td>
          <td>{{item.pass}}</td>
          <td>{{item.gen}}</td>
          <td>{{item.emp}}</td>
        </tr>
</table>

<button (click)="edit()" >Submit</button>
